*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
    padding: 10px;
}
ol{
    color: white;
    font-size: 14px;
    flex-flow: row;
    display: inline-flex;
    list-style-type: none;
    text-transform: uppercase;
    
}
li{
    margin-left: 20px;
    
}
.fill{
    display: flex;
    justify-content: center;
}
form{
    
    height: 400px;
    width: 300px;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 20px;
    box-shadow: 0px 2px 10px grey;
}
form div{
    margin-bottom: 20px;

}
label{
    font-size: 14px;
    font-weight: bold;
}
input, textarea{
    width: 270px;
    height: 30px;
    border: none;
    border-bottom: 1px solid mediumvioletred;
    margin-top: 10px;

}
button{
    width: 275px;
    color: white;
    background-color: mediumvioletred;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    border-radius: 2px;
}